.questions {
	// .questions__items
	&__items {
		position: relative;
		max-width: 757px;
		margin-bottom: 48px;
		&::after {
			position: absolute;
			content: '';
			top: 150px;
			right: -320px;
			width: 320px;
			height: 125px;
			background: url('../images/page/mavic2.png') 0 0 no-repeat;
		}
		@media (max-width: 1100px) {
			&::after {
				display: none;
			}
		}
	}

	// .questions__item
	&__item {
		background-color: rgba(0, 0, 0, 0.3);
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	// .questions__item-title
	&__item-title {
		position: relative;
		font-weight: 500;
		font-size: 21px;
		line-height: 28px;
		padding: 20px 40px 24px;
		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			height: 100%;
			width: 72px;
			background: #fff url('../images/icons/arrow-down.svg') center no-repeat;
			@media (max-width: 992px) {
				width: 58px;
			}
		}
		&.active {
			&:after {
				transform: rotate(180deg);
			}
		}
		@media (max-width: 992px) {
			font-size: 18px;
			line-height: 18px;
			padding: 15px 25px 18px;
		}
		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 18px;
			padding: 15px 20px 18px;
		}
		@media (max-width: 560px) {
			font-size: 15px;
			line-height: 15px;
			padding: 15px 55px 18px 15px;
		}
	}

	// .questions__item-text
	&__item-text {
		font-weight: 300;
		font-size: 15px;
		line-height: 150%;
		padding: 0 20px 65px 50px;
		display: none;
		@media (max-width: 992px) {
			font-size: 15px;
			line-height: 120%;
			padding: 0 20px 20px 25px;
		}
		@media (max-width: 560px) {
			font-size: 14px;
			line-height: 100%;
			padding: 0 10px 20px 10px;
		}
	}
}
